@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔥 RESET EVERYTHING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 🔥 VERY IMPORTANT FIX */
html, body, #root {
  height: 100%;
  background: transparent !important;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
body {
  color: white !important;
}